section {
    overflow: hidden;
    background-color: #f5f5f5;
}

.contentHeader {
    background-color: white;
    margin-bottom: 0.15rem;
}

#myCarousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#picList {
    width: 16rem;
    overflow: hidden;
    position: relative;
    left: 0;
    transition: all 0.2s ease;
}

#picList img {
    width: 3.2rem;
    float: left;
}

#picBtns {
    height: 0.3rem;
    padding: 0.2rem 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0.05rem;
    width: 100%;
}

#picBtns span {
    width: 0.1rem;
    height: 0.1rem;
    margin: 0 0.05rem;
    border: 1px solid white;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0.15rem;
    vertical-align: top;
}

#picBtns .active {
    background: white;
}

#currentIndex {
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
    background-color: #000;
    opacity: 0.5;
    color: white;
    text-align: center;
    padding: 0 0.1rem;
    border-radius: 0.1rem;
    font-size: 0.2rem;
}

#currentIndex span {
    color: white;
}

.detailHeader {
    padding: 0.15rem;
    overflow: hidden;
}

.detailHeader h3 {
    font-size: 0.19rem;
    color: #000000;
    margin: 0.1rem 0;
}

.detailHeader p {
    display: inline-block;
    width: 100%;
}

.detailHeader p:first-of-type {
    color: #333;
    overflow: hidden;
    font-size: 0.14rem;
}

.detailHeader p:first-of-type img {
    height: 0.2rem;
}

.detailHeader .price {
    color: #DD4B3C;
    font-size: 0.2rem;
    font-weight: 800;
    margin-right: 0.05rem;
}

.detailHeader p:nth-of-type(2) {
    color: #999;
    font-size: 0.12rem;
    margin: 0.1rem 0;
}

.detailHeader .biaoqian {
    margin: 0.05rem 0;
}

.more, .position {
    padding: 0.15rem 0.15rem 0.15rem 0;
    font-size: 0.14rem;
}

.more a {
    color: #999999;
}

.contentBlock {
    margin-bottom: 0.15rem;
    background-color: white;
    padding-left: 0.15rem;
}

#houseInfo div.container, #houseSchool div.container {
    padding: 0;
    color: #333333;
}

#houseInfo ul.row {
    margin-left: 0.05rem;
}

#houseSchool ul.row {
    margin: 0;
}

#houseInfo li.col-xs-12, #houseSchool li.col-xs-12 {
    border-bottom: 1px solid #eeeeee;
    padding: 0;
}

#houseInfo li.col-xs-12 p.col-xs-6,
#houseInfo li.col-xs-12 p.col-xs-12,
#houseSchool li.col-xs-12 p.col-xs-12 {
    padding: 0.15rem 0.15rem 0.15rem 0;
    font-size: 0.14rem;
}

#houseInfo li.col-xs-12 p.col-xs-6 span:first-of-type,
#houseInfo li.col-xs-12 p.col-xs-12 span:first-of-type,
#houseSchool li.col-xs-12 p.col-xs-12 span:first-of-type {
    color: #aaa;
}

#houseInfo li.col-xs-12 p.col-xs-12 span,
#houseSchool li.col-xs-12 p.col-xs-12 span {
    padding-left: 0;
}

#houseInfo li.col-xs-12 p.col-xs-12 a {
    position: absolute;
    right: 0.3rem;
    top: 0.15rem;
}

#houseInfo li.col-xs-12 p.col-xs-12 a img {
    height: 0.12rem;
}

.contentBlock > h4 {
    border-bottom: 1px solid #eeeeee;
    font-size: 0.145rem;
    padding: 0.1rem 0;
}

.contentBlock h4.color {
    color: #FF8600;
}

#houseFeature p.houseFeatureInfo {
    padding: 0.1rem 0.1rem 0.1rem 0;
    font-size: 0.12rem;
    color: #333;
    line-height: 0.2rem;
    border-bottom: 1px solid #eeeeee;
    height: 1rem;
    overflow: hidden;
}

#houseType .container, #houseType .row .item .col-xs-3, #recommend .container {
    padding: 0;
}

#houseType .container .row, #recommend .container .row {
    margin: 0;
}

#houseType .row .item, #recommend .row .item {
    padding: 0.15rem 0.15rem 0.15rem 0;
    color: #000;
}

#houseType .row hr {
    width: 100%;
    border-color: #FF8C06;
}

#houseType .row .item .col-xs-9 {
    padding-right: 0;
}

#houseType .row .item .col-xs-9 h4, #recommend .row .item .col-xs-8 h4 {
    font-size: 0.16rem;
}

#houseType .row .item .col-xs-9 .typeInfo {
    color: #666;
    font-size: 0.12rem;
    margin: 0.08rem 0;
    height: 0.24rem;
}

#map{
    width: 100%;
    height: 2rem;
}

#recommend .row hr {
    width: 100%;
}

#recommend .row .item .col-xs-4 {
    padding-left: 0;
}

#recommend .row .item .col-xs-8 {
    padding: 0;
}

#recommend .row .item .col-xs-8 .type {
    font-size: 0.14rem;
    margin: 0.08rem 0;
}

#recommend .row .item .col-xs-8 .type span {
    color: #FF8C06;
    font-weight: bold;
}

#recommend .row .item .col-xs-8 .address {
    color: #555;
    font-size: 0.12rem;
    margin: 0.08rem 0;
}

.prompt {
    margin: 0.15rem 0 0.1rem 0;
    position: relative;
    background-color: #F2F2F2;
    padding: 0.05rem;
}

.prompt .prompt_content{
    font-size: 0.12rem;
    color: #666;
}

.prompt .arrow:before,
.prompt .arrow:after {
    content: "";
    position: absolute;
}

.prompt .arrow:before {
    left: 0.05rem;
    top: -0.06rem;
    margin-top: -2.5px;
    border-left: 0.09rem solid transparent;
    border-right: 0.09rem solid transparent;
    border-bottom: 0.09rem solid #F2F2F2;
}